<head>

  <!-- SEO info -->
  <meta charset="utf-8">
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <base href="{{ .Site.BaseURL }}">
  <title>{{ .Title }}</title>
  <link ref="cononical" href="{{ .Permalink }}">
  <link href="{{ .RSSlink }}" ref="alternate" type="application/rss+xml" title="{{.Site.Title }}"/>

  <!-- Head includes-- >
  <link rel="stylesheet" href="css/foundation.css"
  <link rel=stylesheet" href="css/carlhicksdotme.css">
  <script src="js/vendor/modernizr.js"></script>

</head>
