<!doctype html>
<html class="no-js" lang="en">

  {{ partial "head.html" . }}
  
  <body>

    {{ partial "navigation.html" . }}

    <div class="row">
      <div class="large-12 columns">
        <h1>Welcome to {{.Title}}</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <h3>We&rsquo;re stoked you want to try Foundation! </h3>
          <p>To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>
          <p>Once you've exhausted the fun in this document, you should check out:</p>
        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}

  </body>
</html>
