<!doctype html>
<html class="no-js" lang="en">

  {{ partial "head.html" . }}
  
  <body>

    {{ partial "navigation.html" . }}

    <div class="row">
      <div class="large-12 columns">
        <h1>Welcome to {{.Title}}</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <h3>Currently Under construction!</h3>
          <p>If your trying to contact me please see <a href="http://carlhicks.me/contact">click here</a> for more information.</p>
        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}

  </body>
</html>
